<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Organization",
  "name": "Monachil Capital Partners",
  "url": "{{ .Site.BaseURL }}",
  "logo": "{{ .Site.BaseURL }}images/monachil-logo.png",
  "description": "{{ .Site.Params.description }}",
  "address": {
    "@type": "PostalAddress",
    "streetAddress": "{{ .Site.Params.address }}",
    "addressLocality": "Greenwich",
    "addressRegion": "CT",
    "postalCode": "06830",
    "addressCountry": "US"
  },
  "contactPoint": {
    "@type": "ContactPoint",
    "telephone": "{{ .Site.Params.phone }}",
    "contactType": "Customer Service",
    "email": "{{ .Site.Params.email }}"
  },
  "sameAs": [
    "https://www.linkedin.com/company/monachil-capital-partners-lp/"
  ]
}
</script>
{{ if and .IsPage (eq .Section "research") }}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Article",
  "headline": "{{ .Title }}",
  "description": "{{ .Params.description }}",
  "datePublished": "{{ .Date.Format "2006-01-02" }}",
  "dateModified": "{{ .Lastmod.Format "2006-01-02" }}",
  "author": {
    "@type": "Organization",
    "name": "Monachil Capital Partners"
  },
  "publisher": {
    "@type": "Organization",
    "name": "Monachil Capital Partners",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}images/monachil-logo.png"
    }
  },
  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Permalink }}"
  }
}
</script>
{{ end }}
